In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from matplotlib.pyplot import xticks
from matplotlib.pyplot import yticks

In [2]:
df = pd.DataFrame(pd.read_csv("Software_Professional_Salaries.csv"))
df

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location
0,3.8,Sasken,Android Developer,400000,3,Bangalore
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore
...,...,...,...,...,...,...
22769,4.7,Expert Solutions,Web Developer,200000,1,Bangalore
22770,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore
22771,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore
22772,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore
22773,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore

In [3]:
df.shape

(22774, 6)

In [4]:
df.describe()

             Rating        Salary  Salaries Reported
count  22774.000000  2.277400e+04       22774.000000
mean       3.918249  6.953606e+05           1.855625
std        0.519676  8.843263e+05           6.823078
min        1.000000  2.112000e+03           1.000000
25%        3.700000  3.000000e+05           1.000000
50%        3.900000  5.000000e+05           1.000000
75%        4.200000  9.000000e+05           1.000000
max        5.000000  9.000000e+07         361.000000

In [5]:
df.columns

Index(['Rating', 'Company Name', 'Job Title', 'Salary', 'Salaries Reported',
       'Location'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22774 entries, 0 to 22773
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             22774 non-null  float64
 1   Company Name       22773 non-null  object
 2   Job Title          22774 non-null  object
 3   Salary             22774 non-null  int64
 4   Salaries Reported  22774 non-null  int64
 5   Location           22774 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.0+ MB

In [7]:
df.isnull().sum()

Rating               0
Company Name         1
Job Title            0
Salary               0
Salaries Reported    0
Location             0
dtype: int64

In [8]:
df = df.dropna()

In [9]:
df.keys()

Index(['Rating', 'Company Name', 'Job Title', 'Salary', 'Salaries Reported',
       'Location'],
      dtype='object')

In [10]:
auto = df

In [11]:
CompanyName = pd.get_dummies(df['Company Name'], drop_first = True)
CompanyName

,(no)name,-,....,.Kreate,1 Crore Projects,10,100Plus (India),10Decoders Consultancy Services,11Signals Technologies,17544,...,yellow.ai,yes,yo yo honey singh,zCon Solutions,zDistanceLab,zekeLabs,Ás Formaturas,Órama,​App-Scoop,‎eNotice Ninja Pluss
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22769,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22770,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22771,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22772,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22773,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
auto = pd.concat([auto,CompanyName], axis = 1)
auto

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,(no)name,-,....,.Kreate,...,yellow.ai,yes,yo yo honey singh,zCon Solutions,zDistanceLab,zekeLabs,Ás Formaturas,Órama,​App-Scoop,‎eNotice Ninja Pluss
0,3.8,Sasken,Android Developer,400000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22769,4.7,Expert Solutions,Web Developer,200000,1,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22770,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22771,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22772,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22773,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
job_typ = pd.get_dummies(auto['Job Title'], drop_first = False)
job_typ

,"""ORACLE DBA""",".NET Developer, Python",.NET/Android Developer,AEM Front End Developer - Intern,ASAP Software Development Engineer,AVP-Java Developer,Ace - Android Development,Advanced Database Administrator,Advanced Python Developer,Amazon Software Development Engineer,...,UI/User Experience Designer & Front End Developer,Web Developer,Web Developer (Front-end),Web Developer - Contractor,Web Developer - Intern,Web Developer Contractor,"Web Developer, Python Developer",Web Developer/Android Developer - Intern,Xamarin Mobile Developer,oracle dba
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22769,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22770,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22771,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22772,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22773,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
auto = pd.concat([auto, job_typ], axis = 1)
auto

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,(no)name,-,....,.Kreate,...,UI/User Experience Designer & Front End Developer,Web Developer,Web Developer (Front-end),Web Developer - Contractor,Web Developer - Intern,Web Developer Contractor,"Web Developer, Python Developer",Web Developer/Android Developer - Intern,Xamarin Mobile Developer,oracle dba
0,3.8,Sasken,Android Developer,400000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22769,4.7,Expert Solutions,Web Developer,200000,1,Bangalore,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22770,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22771,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22772,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22773,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
auto

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,(no)name,-,....,.Kreate,...,UI/User Experience Designer & Front End Developer,Web Developer,Web Developer (Front-end),Web Developer - Contractor,Web Developer - Intern,Web Developer Contractor,"Web Developer, Python Developer",Web Developer/Android Developer - Intern,Xamarin Mobile Developer,oracle dba
0,3.8,Sasken,Android Developer,400000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22769,4.7,Expert Solutions,Web Developer,200000,1,Bangalore,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22770,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22771,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22772,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22773,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
auto.drop(['Company Name','Job Title','Location'], axis = 1, inplace = True)

In [17]:
auto

,Rating,Salary,Salaries Reported,(no)name,-,....,.Kreate,1 Crore Projects,10,100Plus (India),...,UI/User Experience Designer & Front End Developer,Web Developer,Web Developer (Front-end),Web Developer - Contractor,Web Developer - Intern,Web Developer Contractor,"Web Developer, Python Developer",Web Developer/Android Developer - Intern,Xamarin Mobile Developer,oracle dba
0,3.8,400000,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4.5,400000,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4.0,1000000,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.8,300000,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4.4,600000,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22769,4.7,200000,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22770,4.0,300000,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
22771,4.1,192000,13,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22772,4.1,300000,7,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22773,3.8,300000,7,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
import seaborn as sns
plt.figure(figsize=(25,8))
sns.heatmap(auto.corr(),annot=True)
plt.show()